@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

header {
    width: 100%;
    background-color: #2B4450;
    display: inline;
}

nav {
    background-color: rgba(43, 68, 80, 1);
    display: flex;
    align-items: center;
    height: 10vh;
    padding: 0 3vw;
    
    position: sticky;
    top: 0;
    z-index: 3;
}

.brand {
    padding: 20px;
    font-size: 20px;
    color: #DFEBED;
}

.big-nav {
    display: flex;
    padding: 20px;
    list-style: none;
}

.big-nav > li {
    padding-right: 20px;
}

li > a {
    text-decoration: none;
    color: #DFEBED;
}

li > a:hover {
    font-weight: bold;
    color: #F78536;
}

#sidebar_button  {
    align-self: center;
    padding-right: 20px;
}

.sidebar_items {
    position: fixed;
    width: 100%;
    /* height: 100%; */
    background-color: #DFEBED;
    top: 10vh;
    left: 0;
    z-index: 1;
    padding: 20px;
    list-style: none;
}

.sidebar_items > li {
    z-index: 100;
    margin-bottom: 20px;
}

.sidebar_items > li > a{
    color: #21282b;
    font-size: 20px;
}

.sidebar_items > li > a:hover {
    color: #F78536;
}

.jumbotron {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../images/jumbotron.jpg');
    background-size: cover;
    background-position: center;
    color: white;
}

.jumbotron::after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: #497285;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0.6;
    z-index: 1;
}

.jumbotron > * {
    z-index: 2;
}

.jumbotron > h1 {
    font-size: 54px;
}

.jumbotron > h1 > span {
    display: block;
    text-align: center;
}

.jumbotron > p {
    margin-top: 10px;
}

article {
    width: 100%;
}

.article {
    width: 80%;
    padding: 5em 0;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.article > h2 {
    font-size: 36px;
    margin-bottom: 1.5em;
    position: relative;
    color: #F78536;
}

.article > h2::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #DFEBED;
    top: 1.5em;
    left: 25%;
    margin-left: auto;
    margin-right: auto;
}

#about_me > .article > p {
    text-align: center;
}

.button {
    font-size: 16px;
    background-color: white;
    color: #497285;
    border: 2px solid #497285;
    border-radius: 5px;
    padding: .8em 1.7em;
    margin-top: 1.5em;
}

.button:hover {
    background-color: #F78536;
    color: white;
    border: 2px solid #F78536;
    border-radius: 5px;
    padding: .8em 1.7em;
    margin-top: 1.5em;
}

#education {
    background-color: rgb(234, 234, 234);
}

#education > .article > h2::after {
    background-color: #497285;
}

.timeline {
    display: flex;
    flex-direction: column;
}

.timeline_container {
    display: flex;
    height: 30vh;
}

.year {
    width: 45%;
    font-size: 24px;
    font-weight: bold;
    color: #497285;
    text-align: right;
    padding-right: 5%;
    padding-top: 10px;
}

.circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 10px solid #497285;
    border-radius: 50%;
    background-color: #F78536;
    position: relative;
    margin-right: 5%;
}

.circle::after {
    content: '';
    width: 10%;
    height: 25vh;
    position: absolute;
    top: 20px;
    left: 45%;
    background-color: #F78536;
}

.desc {
    width: 40%;
    font-size: 24px;
    color: #497285;
}

.desc > p {
    font-size: 18px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form > * {
    margin-bottom: 15px;
}

form > label {
    color: #2B4450;
    font-size: 18px;
}

form > input, textarea {
    border: 1px solid #2B4450;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
}

form > textarea {
    height: 200px;
}

form > input:focus, textarea:focus {
    outline-color: #F78536; 
    /* border: 2px solid #F78536; */
}

form > .button {
    width: fit-content;
    align-self: center;
}

#profile {
    display: none;
    position: fixed;
    z-index: 100;
    top: 25vh;
    left: 10vw;
    width: 80%;
    height: 55%;
    min-height: 450px;
    background-color: white;
    border: 1px solid #2B4450;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    padding: 1.5em;
}

#blur {
    width: 100%;
    height: 100%;
    background-color: #497285;
    position: fixed;
    top: 0;
    left: 0;
    opacity: .6;
    z-index: 50;
}

#close_popup {
    position: absolute;
    top: 15px;
    right: 15px;
    opacity: .5;
}

#close_popup > img{
    width: 30px;
}

#profile > h2 {
    font-size: 28px;
    color: #F78536;
}

#profile > * {
    margin-bottom: 30px;
}

#profile > .image_container {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.image_container > img {
    width: 170%;
    max-height: 110px;
    object-fit: cover;
    position: absolute;
    left: -33px;
    top: -1px;
}

#profile > .content {
    text-align: center;
    font-size: 18px;
    color: #21282b;
}

#profile > .content > p {
    margin-bottom: 20px;
    font-weight: bold;
}

#profile > .sosmed {
    display: flex;
    width: 80%;
    justify-content: space-evenly;
}

#profile > .sosmed > img {
    width: 30px;
}

#close_popup {
    border: 0;
    background-color: rgba(0,0,0,0);
}

footer {
    display: flex;
    height: 10vh;
    background-color: #21282b;
    color: #DFEBED;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    #sidebar_button {
        display: none;
    }

    .article {
        width: 60%;
    }

    #profile {
        width: 40vw;
        height: 60vh;
        top: 20vh;
        left: 30vw;
    }
}

@media screen and (max-width: 768px) {
    nav {
        justify-content: space-between;
    }

    ul.big-nav {
        display: none;
    }

    .year, .desc {
        font-size: 20px;
    }

    .jumbotron > h1 {
        text-align: center;
    }
}
